@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,500&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #000;
}

#heading {
  color: #222;
  margin: 2.188rem 0 4rem;
  text-transform: uppercase;
}

/*************** The input text box ***************/

#note_row {
  margin-bottom: 5rem;
}

#enter_text {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1.5rem;
  width: 43.75rem;
  height: fit-content;
  border: transparent;
  border-radius: 20px;
  box-shadow: 0 1px 8px #999;
}

#enter_text:hover {
  box-shadow: 0 1px 8px #777;
}

#text_title {
  margin: 10px 5px;
  outline: none;
  font-weight: 500;
  color: #333;
}

#text_body {
  margin: 10px 5px;
  outline: none;
  color: #111;
}

#enter_text hr {
  margin: 0;
}

.input_text_options {
  margin-left: auto;
  margin-right: auto;
  width: 43.75rem;
  padding: 0.25rem 1rem 0;
  text-align: right;
}

.fa-save {
  right: 0;
  bottom: 0;
  padding-top: 1.2rem;
  color: #555;
  font-size: 150%;
}

.fa-save:hover {
  color: #777;
}

/*************** Saved notes ***************/

.note_layout {
  border: 1px solid #c5c3c3;
  border-radius: 8px;
}

.note_layout:hover {
  box-shadow: 0 1px 3px #d1cece;
}

.note_text {
  margin: 1.1rem 1rem 1.2rem 1rem;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 100%;
}

.note_text p:nth-child(1) {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 105%;
}

.note_options {
  margin: 0 1rem 0.6rem;
  text-align: right;
}

.fa-times {
  color: #777;
}

.note_options span {
  padding: 3px 8px;
  border: transparent;
  border-radius: 20px;
}

.note_options span:hover {
  background-color: #ebebeb;
}

.fa-times:hover {
  color: #555;
  cursor: pointer;
}
